.body {
  background-color: #f9fbfe;
}

.header {
  width: 100vw;
  height: 55px;
  background-color: #f9fbfe;
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
}

.logo_img {
  width: 100px;
  height: 35px;
  vertical-align: middle;
  margin-left: 30px;
}

.nav_right {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
}

.nav_link_log {
  text-decoration: none;
  color: #2b556a;
}

.nav_link_name {
  text-decoration: none;
  color: #2b556a;
}

.nav_link_sign {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.nav_log {
  height: 35px;
  width: 120px;
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
}
.nav_log:hover {
  background-color: #e5f3fd;
}

.nav_name {
  height: 35px;
  width: 120px;
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
}
.nav_name:hover {
  background-color: #e5f3fd;
}

.nav_signup {
  height: 35px;
  width: 120px;
  margin-left: 7px;
  border-radius: 6px;
  background-color: #2fc8d6;
  line-height: 35px;
  text-align: center;
}
.nav_signup:hover {
  background-color: #0f8893;
}



/* 以下footer */

.footerFixed{
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  padding-bottom: 35px;
  position: relative;/* ←相対位置 */
  box-sizing: border-box;
}

footer{
  position: absolute;/* ←絶対位置 */
  bottom: 0px;
  width: 100%;
  height: 35px;
  background: #0b87b0;
  color: #fff;
  text-align: center;
  line-height: 35px;
}