
.title_content{
  width: 100vw;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f9fbfe;
  padding-top: 55px;
}
.title_main{
  width: 100vw;
  text-align: center;
}
.title_img {
  height: 200px;
  vertical-align: middle;
  margin-bottom: 20px;
}

.index_button {
  height: 45px;
  width: 280px;
  border-radius: 6px;
  margin: 10px auto;
  text-decoration: none;
  color: #f1f1f1;
  background-color: #00a2ff;
  line-height: 45px;
  text-align: center;
}
.index_button:hover {
  background-color: #14c1d1;
}

.index_errortext{
  font-size: 13px;
  color: #8b8b8b;
  text-align: center;
}

.question_content{
  width: 100vw;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f3f4f9;
}
.question_midashi {
  font-size: 34px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.play_game{
  width: 100vw;
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #f9fbfe;
}
.play_game_button {
  height: 50px;
  width: 360px;
  border-radius: 6px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #00a2ff;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.play_game_button:hover {
  background-color: #14c1d1;
}

.index_highscore {
  margin-top: 30px;
  text-align: center;
  color: #111111;
}
.highscore_text {
  font-size: 40px;
  font-weight: bold;
}

.index_rank-button {
  height: 30px;
  width: 318px;
  border-radius: 2px;
  margin: 10px auto;
  text-decoration: none;
  color: #f1f1f1;
  background-color: #ff8800;
  line-height: 30px;
  text-align: center;
}
.index_rank-button:hover {
  background-color: #e78310;
}